# WAITER TIPS PREDICTION

In [19]:
import pandas as pd
df = pd.read_excel('Tips.xlsx')
df.head()

  total_bill   tip     sex smoker  day    time  size
0      16.99  1.01  Female     No  Sun  Dinner   2.0
1      10.34  1.66    Male     No  Sun  Dinner   3.0
2      21.01  3.50    Male     No  Sun  Dinner   3.0
3      23.68  3.31    Male     No  Sun  Dinner   2.0
4      24.59  3.61  Female     No  Sun  Dinner   4.0

In [20]:
df.drop(244, inplace=True)
df['total_bill'] = df['total_bill'].astype('float')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    float64
dtypes: float64(3), object(4)
memory usage: 15.2+ KB

## La variable time y day , son categoricas por lo que convertiremos dichas variables en variables numericas para realizar la predicci√≤n

In [22]:
day_dummies = pd.get_dummies(df['day'], prefix= 'day', drop_first=True)
day_dummies.head()

   day_Sat  day_Sun  day_Thur
0        0        1         0
1        0        1         0
2        0        1         0
3        0        1         0
4        0        1         0

In [23]:
time_dummies = pd.get_dummies(df['time'], prefix= 'time', drop_first=True)
time_dummies.head()

   time_Lunch
0           0
1           0
2           0
3           0
4           0

In [30]:
df_2 = df.merge(day_dummies, right_index=True, left_index=True)

In [31]:
df_2 = df_2.merge(time_dummies, right_index=True, left_index=True)
df_2

,total_bill,tip,sex,smoker,day,time,size,day_Sat,day_Sun,day_Thur,time_Lunch
0,16.99,1.01,Female,No,Sun,Dinner,2.0,0,1,0,0
1,10.34,1.66,Male,No,Sun,Dinner,3.0,0,1,0,0
2,21.01,3.50,Male,No,Sun,Dinner,3.0,0,1,0,0
3,23.68,3.31,Male,No,Sun,Dinner,2.0,0,1,0,0
4,24.59,3.61,Female,No,Sun,Dinner,4.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3.0,1,0,0,0
240,27.18,2.00,Female,Yes,Sat,Dinner,2.0,1,0,0,0
241,22.67,2.00,Male,Yes,Sat,Dinner,2.0,1,0,0,0
242,17.82,1.75,Male,No,Sat,Dinner,2.0,1,0,0,0
243,18.78,3.00,Female,No,Thur,Dinner,2.0,0,0,1,0

In [33]:
df_2.drop(['sex','smoker','day','time'], axis=1, inplace=True)
df_2.head()

   total_bill   tip  size  day_Sat  day_Sun  day_Thur  time_Lunch
0       16.99  1.01   2.0        0        1         0           0
1       10.34  1.66   3.0        0        1         0           0
2       21.01  3.50   3.0        0        1         0           0
3       23.68  3.31   2.0        0        1         0           0
4       24.59  3.61   4.0        0        1         0           0

In [36]:
df_2['size'] = df_2.size.astype('int')

In [37]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   size        244 non-null    int32
 3   day_Sat     244 non-null    uint8
 4   day_Sun     244 non-null    uint8
 5   day_Thur    244 non-null    uint8
 6   time_Lunch  244 non-null    uint8
dtypes: float64(2), int32(1), uint8(4)
memory usage: 17.6 KB

### Predicci√≤n

In [38]:
X = df_2.drop('tip', axis=1)
y = df_2['tip']

In [43]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [40]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [41]:
#Initialize the estimators
clf1 = DecisionTreeRegressor(random_state=42)
clf2 = RandomForestRegressor(random_state=42)
clf3 = BaggingRegressor(random_state=42)
clf4 = GradientBoostingRegressor(random_state=42)
clf5 = LinearRegression(normalize=True)
clf6 = Ridge(normalize=True)

In [44]:
clf1.fit(X_train, y_train)
y_pred = clf1.predict(X_test)
print("Test Precision MAE: ",mean_absolute_error(y_pred, y_test))
print("Test Precision MSE: ",mean_squared_error(y_pred, y_test))

Test Precision MAE:  0.8548979591836735
Test Precision MSE:  1.3138387755102041

In [45]:
clf2.fit(X_train, y_train)
y_pred = clf2.predict(X_test)
print("Test Precision MAE: ",mean_absolute_error(y_pred, y_test))
print("Test Precision MSE: ",mean_squared_error(y_pred, y_test))

Test Precision MAE:  0.7800982993197281
Test Precision MSE:  0.9729517102097518

In [46]:
clf3.fit(X_train, y_train)
y_pred = clf3.predict(X_test)
print("Test Precision MAE: ",mean_absolute_error(y_pred, y_test))
print("Test Precision MSE: ",mean_squared_error(y_pred, y_test))

Test Precision MAE:  0.876469387755102
Test Precision MSE:  1.215581530612245

In [47]:
clf4.fit(X_train, y_train)
y_pred = clf4.predict(X_test)
print("Test Precision MAE: ",mean_absolute_error(y_pred, y_test))
print("Test Precision MSE: ",mean_squared_error(y_pred, y_test))

Test Precision MAE:  0.7230449370784319
Test Precision MSE:  0.7674252522761519

### Conclusion el que mejor comportamiento arroja en sus resultados es GB

In [51]:
features = [[24.50, 1, 0, 0, 1, 4]]
clf4.predict(features)

array([4.26222219])